*{
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration: none;
}
/*não contido ainda*/
/*Configurado*/

/*HEADER*/
.header{
    width: 100%;
    height: 4em;
    display:flex;
    background-color: #180738;
}

.logo{
    padding: inherit;
    width: 20%;
    margin:0.8em;   
    margin-right:0.1em;
    float:left;
}
    
.inner_header{
    width: 82%;
    display: flex;
    margin: 0 auto;
}


.logo_container{
    height: 100%;
    display: table;
    float: left;    
}

.logo_container h1{
    padding:15px;
    padding-left: 5px;
    color: white;
    height: 100%;
    display: ruby-text;
    vertical-align: middle;
    font-family: 'Quicksand';
    font-size: 0.8em;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 600;
}

.navigation{ 
    float:right;
    display:inherit
}
.navigation a {
    height: 100%;
    display:table;
    float: left;
    padding: 0em 0.5em;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height : 100%;
    color: white;
    font-family: 'Quicksand';
    font-size: 0.6em;
}

.navigation a:last-child{
    padding-right:0px;
}
/*FIM HEADER*/

/*MINI-BIO-MAIN*/
.Apresentation {
    display:table;
    width: 100%;
}

.container{
    font-family: 'Quicksand';
    text-align: center;
}
#Slide{
    color: black;
    font-size: 20px;
}
.credito{ 
    text-align: right;
    font-weight: 500;
    color: black;
    font-size: 20px;
}

.gata{
    margin: auto;
    height:20.8em;
    width: 20.8em;
    display: flex;  
    border-radius: 10px;
}
.img-responsive{
    width: 100%;   
    padding:2px;
}

.flex-image{
    display: flex;
}

/*/////////*/

/*BUTTONS CONFIGURATION */
.config-button-form {
    background: #c4c4c43a;
    border: #c4c4c400 solid 1px;
    color: #9c9c9c;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 4px;
    font-size: 20px;
    display:flex;
    width: 11.85%;
    justify-content: center;
}

/*inherit from config-button-form*/
.form-product{
    width: 8.4%;
}
/*inferit from config-button-form*/
.form-submit {
    background: #180738;
    color: white;
    padding-top: 15px;
    padding-bottom:15px;
    padding-left: 30px;
    padding-right:30px;
    margin: 25px auto;
    font-size: 20px;
    display: block;
    width: 42%;
}

.config-button-form:hover {
    color: #180738;
    border: #180738 solid 1px;
    background: white;
    transition: ease 0.5s;
}

.config-button-form:before {
    content: "";
    border-radius: 50%;
}

.config-button-form form-submit:checked + .config-button-form {
    color: #180738;
    border: #180738 solid 1px;
    background: white;
}


.config-button-form :before {
    content: "";
    border-radius: 50%;
}

.input-radio:checked + .config-button-form {
    color: #180738;
    border: #180738 solid 1px;
    background: white;
}

/*DISPLAY INVISIVEL*/
#opcao-tela{
    display:none;
}

#opcao-livro{
    display:none;
}

.input-radio{
    display:none;
}


/*END BUTTONS CONFIGURATION*/
.centro {
    text-align: center;
}
.request-text{
        color:white;
        font-family: 'Quicksand';
        font-size: 2em;
        vertical-align: top;
        padding: 10px;
        font-weight: 100;
        line-height: 90px;
}

.background-azul-escuro {
    background: #180738;
    color:black
}
.vertical-alinhamento{
    margin-top: 100px;
    vertical-align:middle;
}
.box-produtos{
    margin-right: 40px;
    margin-left: 40px;
    width: 10em;
}

.produto{
    margin: auto;
    height:auto;
    width: auto;
    display: flex;  
    border-radius: 10px;
    
}

.flex-produtos{
    display: flex;
    justify-content: center;    
    margin-top: 1.5em;;
}

.descricao{
    text-align: center;
    font-family: 'Quicksand';
    font-size: 1.5em;
}

.azul{
    color:#180738;
    font-weight: 700;
    font-size: 2.5em;
}

.form-texto{
    font-family: 'Quicksand';
}

.display-azul{
    background: linear-gradient(to bottom, #180738 0%, #180738 30%, white 30%, white 100%);    
        padding:1em;
}
.plus40{
    background: linear-gradient(to bottom, #180738 0%, #180738 40%, white 30%, white 100%);    
}
.texto-pre-formulario{
    font-family: 'Quicksand';
    font-size: 1.5em;
    line-height: 120px;
}
.texto-formulario{
    font-family: 'Quicksand';
    font-size: 1.5em;
    line-height: 60px;
}

.display-rosa{
    padding:10em;
    background: #fff9fd ;  

    text-align: center;
}


.tela-pos-processamento{
    padding:10em;
    background: #fff9fd ;  
    text-align: center;
    margin-top:10em;
    text-align: center;
}
.texto-propaganda{
        font-family: 'Quicksand';
        font-size: 4em;
        font-weight: 100;
        line-height: 90px;
}


.container-form{

    display:flex;
    justify-content: center;
}

.form-group{
    display: flex;
    flex-direction: column;
}
input::placeholder{
    font-family: 'Quicksand';
    font-size: 16px;
}
.textarea-input{
    border:none;
    margin:10px;
    width:40%;
    padding: 10px;
    height:50px;
    outline: none;
}
.textarea-input:hover{
    background-color:#c4c4c43a;
    transition: ease 0.5s;
}
/*não contido ainda*/

@media only screen and (max-width: 400px){
 /* parte complicada */
 .logo_container h1{
     padding:25px;
     padding-left:0px;
 }

 .box-produtos{
    margin-right: 7.5px;
    margin-left: 7.5px;
    width: 6em;
    font-size: 0.6em;
}
.texto-propaganda{
    font-size: 2em;
    line-height: 40px;
}
.display-rosa{
    padding: 1em;
    padding-top:5em;
}
.texto-pre-formulario{
    font-size: 1em;
    line-height: 1.5em;
}
.textarea-input{
    width:80%;
}
.config-button-form {
    font-size: 15px;
    width: 19.5%;
}
/*inherit from config-button-form*/
.form-product{
    width: 12.5%;
}
/*inferit from config-button-form*/
.form-submit {
    width: 85%;
}
}
@media only screen and (min-width:401px) and (max-width: 600px)
{


    .logo_container h1{
        padding:22px;
        padding-left: 0px;
        padding-right: 0px;
        height: 100%;
        font-size: 1em;

    }

    .navigation a li {
        font-size: 0.8em;
    }

    .logo{
            width: 18%;
            margin:0.8em;   
            
    }

    .textAlign{
        padding:35px;
    }
    #textoSlide{
        color: black;
        font-size: 20px;
    }


    .logo_container h1{
        padding:25px;
        padding-left:0px;
    }
   
    .box-produtos{
       margin-right: 15px;
       margin-left: 15px;
       width: 6em;
       font-size: 0.6em;
   }
   .texto-propaganda{
       font-size: 2em;
       line-height: 40px;
   }
   .display-rosa{
       padding: 1em;
       padding-top:5em;
   }
   .texto-pre-formulario{
       font-size: 1em;
       line-height: 1.5em;
   }
   .textarea-input{
       width:80%;
   }
   .config-button-form {
       font-size: 15px;
       width: 19.5%;
   }
   /*inherit from config-button-form*/
   .form-product{
       width: 12.5%;
   }
   /*inferit from config-button-form*/
   .form-submit {
       width: 85%;
   }
}


@media only screen and (min-width:601px) and (max-width: 1000px)
{

    .logo_container{
        padding-bottom: 5px;
    }


    .logo_container h1{
        padding:8px;
        height: 100%;
        font-size: 1.1em;

    }




    .navigation a li {
        font-size: 0.8em;
    }
    
    .logo{
            margin-top:0.3em;
            width: 15%;
            
    }

        
     /* parte complicada */

    .textAlign{
        padding:35px;
    }
    #textoSlide{
        color: black;
        font-size: 20px;
    }

    .logo_container h1{
        padding:25px;
        padding-left:0px;
    }
   
    .box-produtos{
        margin-right: 15px;
        margin-left: 15px;
        width: 6em;
        font-size: 0.6em;
    }
   .texto-propaganda{
       font-size: 2em;
       line-height: 40px;
   }
   .display-rosa{
       padding: 1em;
       padding-top:5em;
   }
   .texto-pre-formulario{
       font-size: 1em;
       line-height: 1.5em;
   }
   .textarea-input{
       width:80%;
   }
   .config-button-form {
       font-size: 15px;
       width: 19.5%;
   }
   /*inherit from config-button-form*/
   .form-product{
       width: 12.5%;
   }
   /*inferit from config-button-form*/
   .form-submit {
       width: 85%;
   }
}
@media only screen and (min-width:1001px) and (max-width: 1300px)
{

    .logo_container{
        padding-bottom: 5px;
    }


    .logo_container h1{
        padding:8px;
        font-size: 1.2em;
    }

    .navigation a li {
        font-size: 0.8em;
    }
    .logo{
            margin-top:0.2em;
            width:7%;     
    }
        
     /* parte complicada */
 



    .textAlign{
        padding:35px;
    }
    #textoSlide{
        color: black;
        font-size: 20px;
    }

}

@media only screen and (min-width: 1301px) {
    .header{
        height: 80px;
        display:block;
    }

    .inner_header{
        height: 100%;
        display: block;
    }


    .logo_container h1{
        font-size: 2em;
    }

    .navigation{ 
        height: 100%;
    }

    .navigation a {
        padding: 0px 20px;

    }

    .navigation a li {
        font-size: 1.5em;
    }

    .logo{
            width: 6%;
            margin:0.6em;   
            float:center;
            
    }
        
    .ImagemInicio{
        width: 40%;
        margin: 2em;
        float: center;
     }

        
        
    .Apresentation {
        display:flex;
        align-items:center;
    }

    .textAlign{
        padding:100px;
    }
    #textoSlide{
        color: black;
        font-size: 30px;
    }

    .credito{ 
        font-size: 30px;
    }

    .gata{
        float:left;

    }

    .display-azul{
        padding:50px;
    }
}
